/*
  Theme: My Theme
*/

@import "../base/colors/scss/variables.scss";
// ↳ https://github.com/Esri/calcite-colors.git

// https://www.instagram.com/p/B3ahOyOAzH4/
$Pal2_Blue1: #27187E;
$Pal2_Blue2: #758BFD;
$Pal2_Blue3: #AEB8FE;
$Pal2_Grey: #F1F2F6;
$Pal2_Yellow: #FF8600;

$background-color: $Pal2_Blue2;
$border-color: rgba($Pal2_Blue3, 0.2);

$font-color: $Pal2_Grey;
$interactive-font-color: $Pal2_Blue1;
$interactive-font-color--hover: $Pal2_Yellow;

$heading-color: $font-color;

$button-color: $Pal2_Blue1;
$button-color--inverse: $background-color;

// Inverse
$interactive-font-color--inverse: $interactive-font-color;

// Selected
$border-color--active: $interactive-font-color;
$background-color--active: #000000;


@import "../base/core";
