.zj-show-coords {
  padding: 0.6rem;
}

.zj-show-coords__coord-name {
  font-size: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.zj-show-coords__coords {
  margin-block-start: 0;
  margin-block-end: 0;
}